/* Стили для формы создания задачи */
.create-task-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-task-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px; /* Уменьшен отступ внутри */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    width: 100%;
    padding: 8px; /* Уменьшен отступ внутри */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px; /* Уменьшен размер шрифта */
    color: #333;
}

.budget-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.slider-container label {
    margin-bottom: 5px;
    color: #666;
}

.slider {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: #ddd;
    border-radius: 6px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #9370DB;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #9370DB;
    cursor: pointer;
}

.budget-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.budget-values span {
    font-weight: bold;
    color: #333;
}

.budget-values .euro-symbol {
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    color: #333;
}

.create-task-button {
    width: 100%;
    padding: 10px;
    background-color: #9370DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-task-button:hover {
    background-color: #8A2BE2;
}

.logo-container {
    position: absolute;
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
}
